:root {
  --font: "Karla", sans-serif;
  --primary-text-color: #0d0d0d;
  --secondary-text-color: #ffffff;
  --theme-color: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  --background-color: #e5e5e5;
  --border-color: #d5d4d8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Karla";
  font-style: normal;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--primary-text-color);
}
.Header {
  background: var(--theme-color);
  display: flex;
  padding: 1.25em;
  height: 11vh;
}
.troll-face {
  width: 31.31px;
  height: 26.22px;
  margin-right: 0.438em;
}
.heading {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 1.297rem;
  line-height: 1.5rem;
  letter-spacing: -0.1em;
}
form {
  padding: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.063em;
}
.meme-input {
  border: 1px solid var(--border-color);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  width: 100%;
  height: 35px;
  grid-gap: 10px;
  outline: none;
}
.meme-button {
  background: var(--theme-color);
  cursor: pointer;
  height: 40px;
  grid-column: 1/-1;
  border: none;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.188rem;
  text-align: center;
  letter-spacing: -0.1em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 200ms ease-in-out;
}
.meme-button,
.meme-input {
  font-family: var(--font);
  border-radius: 5px;
  padding: 10px;
}
.meme-button:hover,.meme-button:focus{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #A126CD;
  background: var(--secondary-text-color);
  border: 1px solid #A126CD;
}
/* .image-meme{
  margin: 0 auto;
  display: block;
  width: 95%;
  height: 43vh;
  object-fit: scale-down;
} */
.meme--image {
  margin: 0 auto;
  display: block;
    max-width: 100%;
    border-radius: 3px;
}


.meme {
    position: relative;
}


.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}
@media (max-width:300px) {
  .meme-input{
    font-size: 0.65rem;
  }
  .meme-button{
    font-size: 0.7rem;
  }
}